PORT=5001
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/wisdom-wing
CLIENT_URL=http://localhost:3000
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-service-account-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SUPERADMIN_EMAIL=tushar.09sood@gmail.com
GEMINI_API_KEY=
EMBEDDING_PROVIDER=local
EMBEDDING_MODEL=text-embedding-004
VECTOR_INDEX_NAME=question_embedding_index
